/*
  Pragmatic JavaScript
  Chapter 3
  Programming Assignment

  Author: Shannon Kueneke
  Date:  December 3, 2025
  Filename: styles.css
*/

/* Add your CSS styles here */
body {
  background-color: salmon;
}

body > div {
  background-color: #fdbcc6;
  margin:0 auto;
  max-width:70%;
  padding:2em;
  margin-bottom:2em;
  border-radius: 100% 100% 0 0;
  border:27px solid #fff;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h1,
h2,
h2 span {
  font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

a,
p,
p span,
li,
ul {
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size:1.1em;
}

p {
  font-weight:500;
}

p > span {
  font-weight:300;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin:0 2em;
}

.container {
  margin:0 auto;
  width:96%;
}